@model EscolaVirtual.Vendas.Application.ViewModels.PagamentoViewModel
@{
    ViewBag.Title = "View";
}

<h2 class="alert-info">Sucesso!</h2>


<h3 class="alert-success">Numero do Pedido: @Model.PedidoId</h3>
<h3 class="alert-success">Valor Total: @Model.Valor</h3>

