@{
    ViewBag.Title = "Home Page";
}
<div>
    <p></p>
</div>
<div class="jumbotron">
    <h2>A Escola Virtual fornece cursos para quem gosta de aprender sem sair de casa!</h2>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Seja um Arquiteto</h2>
        <p>Aprenda os requisitos necessários para se tornar um Arquiteto de Software .NET e ganhe mais destaque em sua carreira</p>
    </div>
    <div class="col-md-4">
        <h2>Arquitetura</h2>
        <p>Aprenda arquitetura na prática com DDD, CQRS e Event Sourcing. Crie aplicações escaláveis e de fácil manutenção.</p>
    </div>
    <div class="col-md-4">
        <h2>Aprenda a testar</h2>
        <p>Aprenda a escrever código limpo e testável utilizando práticas como TDD e BDD que lhe proporcionarão qualidade ao seu código</p>
    </div>
</div>